.textarea {
    padding-right: 50px !important;
    /* Styling for copying text/audio voice buttons */
    &__buttons {
      border: 2 px !important;
      position: relative;
      bottom: 45px;
      float: right;
      margin-right: 19px;
      &__disabled:disabled {
        cursor: not-allowed;
      } 
    } 
  }
  .form-control {
    border:  2px solid !important;
    box-shadow: 2px 2px 2px 2px #888888 !important;
  }
  .btn-secondary {
    color: #000 !important;
    background-color: #fff !important;
    border: none !important;
  }
  .btn {
    font-family: monospace;
    font-weight: bold !important;
  }
  .btn:focus {
    outline: none !important;
    box-shadow: 2px 2px #888888 !important;
    
  }